/* View Commments StyleSheet */
.action-icons {
    background-color: lightgray;
    padding: 5px;
    margin-top: 1rem;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.edit-icon:hover{
    background-color: orange;
}

.delete-icon:hover{
    background-color: red;
}