.block {
  display: block;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

#logo {
  width: 100px;
  height: 80px;
}

.flex {
  flex-direction: column;
  @include center-horizontal;
}

.login-form {
  border: 1px solid white;
  border-radius: 12px;
  padding: 1.5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  @include center-horizontal;
  background: white;
  color: black;
  filter: blur(0px);
  // box-shadow: rgba(241, 240, 240, 0.952) 0px 2px 4px,
  //   rgba(252, 251, 251, 0.856) 0px 7px 13px -3px,
  //   rgba(248, 244, 244, 0.952) 0px -3px 0px inset;
}

.form-container {
  @include center-horizontal;
  font-size: smaller;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 580px;
  max-height: 860px;
  .bg {
    background: url(https://images.unsplash.com/photo-1499750310107-5fef28a66643?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGRlc2t0b3B8ZW58MHx8MHx8fDA%3D)
      no-repeat center center fixed;
    filter: blur(1px);
    background-size: cover;
    min-height: 580px;
    max-height: 860px;
  }
}

.input-field-container {
  @include margin-bottom(10px);
}

.input-field {
  width: 300px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 2.5%;
  background: #eeeeee;
  color: #7a7d80;
  font-size: 11px;
  border: 0px solid whitesmoke;
  border-radius: 4px;
}

.login-btn {
  width: 300px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 0px;
  border-radius: 5px;
  background-color: #0484b3;
  color: #fafafa;
  font-size: smaller;
  font-weight: 800;
}
.login-btn:hover {
  background: #08b2f0;
}

#forget-pass {
  color: #1e2772;
  text-decoration: underline;
  text-align: right;
}

#footer-line {
  text-align: center;
}

.input-field-icon {
  display: flex;
  position: relative;
}

.icon-field {
  position: absolute;
  right: 0;
}
