.settingsContainer {
    margin-top: 2rem;

    .heading {
        font-weight: bold;
        // color: #333;
        margin-bottom: 1rem;
    }

    .settingsCard {
        border-radius: 16px;
        padding: 1.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 2rem;
    }

    .divider {
        margin: 2rem 0;
        background-color: #ccc;
    }
}
