.appbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 12px;
  margin: 6px 8px;
  width: 99%;
  // background: linear-gradient(to right, #3f51b5, #1e88e5);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  // padding: 4px;

  &__search {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__toggle {
    cursor: pointer;
  }

  .toolbar {
    border-radius: 8px;
    // padding: 0 24px;
    // background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
