@import "../variables";
@import "../mixins";

.tweets-area {
  width: 600px; // Central content feed width
  margin: 0 auto; // Center horizontally
  padding: 16px; // Padding around the tweets area
  // background-color: #f5f8fa; // Light background

  display: flex;
  flex-direction: column; // Stack children vertically
  align-items: center; // Center items horizontally

  // Styling for cards in the feed
  & > * + * {
    margin-top: 16px; // Spacing between tweet cards
  }
}
